<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="{% url 'aboutus' %}">About us</a>
    <br>
    <a href="{% url 'question' question_nr=last_question %}">Go to question {{last_question}}</a>
    <p>Last users online:</p>
    {% for name in names %}
    <p>{{name}}</p>
    {% endfor %}
</body>
</html>